<body>
    <div class="d-flex flex-column align-items-center justify-content-center mt-5">
        <%= image_tag 'halalbytes-logo-w.png', style: 'width: 200px;'%>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center mt-5 mb-5">
    <div class="info-container">
        <h1 class="display-1 text-center mb-5">Ramadan Mubarak!</h1>
        <h3>Explore the best halal food in Columbus</h3>
            <div class="search-container">
            <form action="/action_page.php" class="input-group mb-3">
                <!-- Restaurant Search Input -->
                <input type="text" class="form-control" placeholder="I'm hungry for..." name="restaurant" aria-label="Restaurant search">
                <!-- Location Search Input -->
                <!-- Location Search Input -->
                <div class="position-relative w-100">
                    <i class="bi bi-geo-alt location-icon"></i>
                    <input type="text" class="form-control location-input" placeholder="Location" name="location" aria-label="Location search">
                </div>
                <!-- Search Button -->
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            </div>
        </div>
        </div>
        <!--
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <p class="lead text-center">Welcome to our website, a dedicated platform for the Muslim community in Columbus, OH, aimed at simplifying the search for halal dining spots. Our mission is to provide a comprehensive database of halal restaurants, cafes, and eateries, each meticulously verified for halal certification to ensure your dining experiences align with halal standards. With detailed information, ratings, and user reviews at your fingertips, our search tool empowers you to discover a variety of halal culinary gems across the city, catering to diverse dietary needs and preferences. By joining our community, you contribute valuable insights that guide fellow diners in making informed choices, sharing your experiences on ambiance, flavors, and service. Together, we're not just finding food; we're fostering a community that supports and uplifts halal preferences, offering peace of mind and unforgettable dining experiences to everyone involved.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="col-3 text-center">
            <i class="bi bi-search h1 "></i>
            <p>Our search tool makes it easy to find and explore a variety of halal local restaurants, catering to your dietary needs. Discover delightful culinary gems and enjoy unforgettable dining experiences that meet your halal requirements.</p>
        </div>
        <div class="col-1 text-center">
        </div>
        <div class="col-3 text-center">
            <i class="bi bi-star-half h1 "></i>
            <p>Join our community and contribute your valuable insights to help fellow diners find exceptional dining experiences. Your reviews have the power to guide others by sharing your thoughts on ambience, flavors, and attentive service, making a difference in their informed decision-making.</p>
        </div>
        <div class="col-1 text-center">
        </div>
        <div class="col-3 text-center">
            <%= image_tag 'mosque.png', style: 'width: 40px;' %>
            <p>Rest assured that all the restaurants in our database have undergone thorough verification to ensure they are halal-certified. Each establishment has been confirmed by either the owner or the company, giving you the confidence to explore and enjoy a diverse range of halal dining options with peace of mind.</p>
        </div>
    </div> -->

</body>

<style>
body {
    background-image: url(/assets/background.png);
    /*background: linear-gradient(#DC3545 0%, #000 100%);*/
    background-size: cover; /* Cover the entire page */
    overflow: hidden;
}
h1, h3 {
    color: #FFFFFF; /* This will make your h1 and h3 text white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    body {
        background-position: center 75%; /* Shift the background position */
        background-size: 150% auto; /* Increase or decrease the size as needed */
    }
}

/* Example media query for screens less than 480px wide */
@media (max-width: 480px) {
    body {
        background-position: center 75%; /* Further shift the background position */
        background-size: 200% auto; /* Increase or decrease the size as needed */
    }
}

.info-container {
    background-image: url(/assets/food.png); /* Path to your different background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    border-radius: 15px; /* Rounded corners, adjust as needed */
    padding: 20px; /* Add some padding inside the container */
    margin: 20px; /* Optional: Adds space around the container */
    box-shadow: 0 2px 5px rgba(0,0,0); /* Optional: Adds a subtle shadow for depth */
    color: #FFFFFF; /* Text color inside the container */
    width: 800px;
    height: 500px;
}

.info-container h1 {
    font-weight: 700;
    font-family: 'Brush Script MT', cursive;
}

.info-container h3 {
    text-align: center; /* Centers text horizontally */
    margin-top: 0; /* You can adjust this value as needed */
    margin-bottom: 0; /* You can adjust this value as needed */
    font-size: 35px;
    font-weight: 500;
}

.search-container {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.search-container .form-control, .search-container .btn-outline-secondary {
    height: 60px; /* Increase the height of the input fields and button */
    padding: 0 12px; /* Adjust padding as needed for text alignment */
}

.btn-outline-secondary {
    border-top-right-radius: 10px; /* Adjust to match your design */
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 60px;
}


.search-container .input-group .btn-outline-secondary {
    background: #DC3445;
    color: white;
    /*border-radius: 0; */
}

.search-container .input-group .btn-outline-secondary:hover {
    background: #fa4755;
    color: white;
}

.position-relative {
    position: relative;
    flex: 1; /* Ensure the input group fills the space */
}

.location-icon {
    position: absolute;
    left: 12px; /* Slightly adjust if necessary */
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    pointer-events: none;
    z-index: 3;
}

.location-input, .search-container .form-control {
    padding-left: 35px; /* Adjust to ensure text does not overlap the icon */
    border-radius: 0; /* Ensures no border-radius for the location input */
}

.search-container .form-control:focus, .search-container .btn-outline-secondary:focus {
    outline: none; /* Removes the blue outline */
    box-shadow: 0 0 0 2px rgba(220, 52, 69, 0.5); /* Optional: Adds a custom focus style */
}

/* Specific styles for the restaurant search input */
.search-container .form-control:first-child {
    border-top-left-radius: 10px; /* Adjust this value as needed */
    border-bottom-left-radius: 10px; /* Adjust this value as needed */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


</style>

