<div class="d-none">
  <div data-name="popover-content-rating" id='rating'>
    <div class="row">
      <div class="col-auto">
        <input type="radio" class="btn-check" name="rating" id="3+" value="2.9" autocomplete="off">
        <label class="btn btn-secondary border-0 rounded-5" id="rating" style='width: 100%;  ' for="3+">3+</label>
      </div>
      <div class="col-auto">
        <input type="radio" class="btn-check" name="rating" id="4+" value="4.0" autocomplete="off">
        <label class="btn btn-secondary border-0 rounded-5" id="rating" style='width: 100%;  ' for="4+">4+</label>
      </div>
      <div class="col-auto">
        <input type="radio" class="btn-check" name="rating" id="5" value="5.0" autocomplete="off">
        <label class="btn btn-secondary border-0 rounded-5" id="rating" style='width: 100%;  ' for="5">5</label>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" >
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Rating</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body ">
    <div class="row">
      <div class="col-4">
        <input type="radio" class="btn-check" name="rating" id="3+" value="2.9" autocomplete="off">
        <label class="btn btn-secondary border-0 rounded-5" style='width: 100%; ' for="3+">3+</label>
      </div>
      <div class="col-4">
        <input type="radio" class="btn-check" name="rating" id="4+" value="4.0" autocomplete="off">
        <label class="btn btn-secondary border-0 rounded-5" style='width: 100%; ' for="4+">4+</label>
      </div>
      <div class="col-4">
        <input type="radio" class="btn-check" name="rating" id="5" value="5.0" autocomplete="off">
        <label class="btn btn-secondary border-0 rounded-5" style='width: 100%; ' for="5">5</label>
      </div>
    </div>
  </div>
</div>
