<body style="background-color: #FFFFFF;">
<div class="row" >
  <div class="col-md-2">
    <!-- Filters section -->
    <!-- Place your filters content here -->

  </div>
  <div class="col-md-9">
    <!-- Restaurants section -->
    <h1>Restaurants</h1>
    <div id="restaurants" >
      <% @restaurants.each do |restaurant| %>
        <%= render restaurant %>

      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>