<body style="background-color: #FFFFFF;">
   <%= render '/restaurants/partials/filters'%>
   <div class="col-md-12">
         <!-- Restaurants section -->
         <div id="restaurants" >
            <%= render partial: 'restaurants/partials/restaurant', collection: @restaurants.select { |restaurant| restaurant.keep == true }, as: :restaurant %>
         </div>
   </div>
</body>

<!--resturant filter-->
<%=javascript_include_tag 'resturant_index'%>

<style>
@media (max-width: 3000px) {
  .filter-img {
    width: 70  px;
    height: 50px;
  }
}
@media (min-width: 1600px) {
  
  .card {
    align-items: center;
  }
}
 .card::-webkit-scrollbar {
   display: none;
}
.accordion-button:focus {
    box-shadow: none;
    background-color: white;
    border-color: rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed){
      box-shadow: none;
    background-color: white;
    border-color: rgba(0,0,0,.125);
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop {
    --bs-backdrop-zindex: 0;
}
.accordion-button{
  display:block;
}
</style>