<p style="color: green"><%= notice %></p>
<h1>Reviews</h1>
<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", restaurant_review_path(@restaurant, review), class: "btn btn-secondary btn-sm mt-2" %>
    </p>
  <% end %>
</div>
